@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text */
}

/* System-based dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background for system preferences */
    --foreground: #ededed; /* Dark mode text for system preferences */
  }
}

/* Manual dark mode with the 'dark' class */
.dark {
  --background: #0a0a0a; /* Dark mode background for manual toggle */
  --foreground: #ededed; /* Dark mode text for manual toggle */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.table-container {
  width: 100%; /* Tablonun kapsayıcı genişliğini %100 yapıyoruz */
  overflow-x: auto; /* Sadece gerektiğinde yatay kaydırmayı göster */
}

table {
  width: 100%; /* Tablonun genişliğini %100 yaparak kapsayıcıya uymasını sağlıyoruz */
  table-layout: auto; /* Tablonun genişliği otomatik ayarlanır */
}